

  <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">© 2018 <a href="#">Remark</a></div>
    <div class="site-footer-right">
      Crafted with <i class="red-600 icon md-favorite"></i> by <a href="#">VinarqTech</a>
    </div>
  </footer>
  <!-- Core  -->
  <script src="/static/global/vendor/jquery/jquery.min.js"></script>
  <script src="/static/global/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/global/vendor/animsition/animsition.min.js"></script>
  <script src="/static/global/vendor/asscroll/jquery-asScroll.min.js"></script>
  <script src="/static/global/vendor/mousewheel/jquery.mousewheel.min.js"></script>
  <script src="/static/global/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
  <script src="/static/global/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
  <script src="/static/global/vendor/waves/waves.min.js"></script>

  <!-- Plugins -->
  <script src="/static/global/vendor/switchery/switchery.min.js"></script>
  <script src="/static/global/vendor/intro-js/intro.min.js"></script>
  <script src="/static/global/vendor/screenfull/screenfull.min.js"></script>
  <script src="/static/global/vendor/slidepanel/jquery-slidePanel.min.js"></script>

  <!-- Plugins For This Page -->
  <script src="/static/global/vendor/chartist-js/chartist.min.js"></script>
  <script src="/static/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.min.js"></script>
  <script src="/static/global/vendor/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
  <script src="/static/global/vendor/peity/jquery.peity.min.js"></script>

  <!-- Scripts -->
  <script src="/static/global/js/core.min.js"></script>
  <script src="/static/base/assets/js/site.min.js"></script>

  <script src="/static/base/assets/js/sections/menu.min.js"></script>
  <script src="/static/base/assets/js/sections/menubar.min.js"></script>
  <script src="/static/base/assets/js/sections/gridmenu.min.js"></script>
  <script src="/static/base/assets/js/sections/sidebar.min.js"></script>

  <script src="/static/global/js/configs/config-colors.min.js"></script>
  <script src="/static/base/assets/js/configs/config-tour.min.js"></script>

  <script src="/static/global/js/components/asscrollable.min.js"></script>
  <script src="/static/global/js/components/animsition.min.js"></script>
  <script src="/static/global/js/components/slidepanel.min.js"></script>
  <script src="/static/global/js/components/switchery.min.js"></script>
  <script src="/static/global/js/components/tabs.min.js"></script>

  <script src="/static/global/js/components/matchheight.min.js"></script>
  <script src="/static/global/js/components/jvectormap.min.js"></script>
  <script src="/static/global/js/components/peity.min.js"></script>


  <script src="/static/base/assets/examples/js/dashboard/v1.min.js"></script>
</body>
</html>